@media all and (min-width:960px) and (max-width: 1024px) {
  }
.background-image {
    background-image: url(https://www.theamplituhedron.com/projects/How-to-make-a-scroll-menu-with-random-star-background-in-HTML/Pictures/1.JPG);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    min-height: 100%;
}
.content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}
p {
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: #1287A8}

.allh {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(236, 236, 236);
    padding: 20px;
    text-align: center;
}
.img-right {
    float: right;border-radius: 10px;height: 280px;margin: 3px;
}
.img-left {
    float: left;border-radius: 10px;height: 280px; margin: 5px;
}
.img-shadow:hover {
    box-shadow: 3px 3px 3px rgb(160, 160, 160);
}
@media all and (min-width:801px) and (max-width: 959px) {
    .img-right {
        float: right;border-radius: 10px;height: 250px;margin: 3px;
    }
    .img-left {
        float: left;border-radius: 10px;height: 250px; margin: 5px;
    } 
    .background-image {
        height: 400%;
    }
  }
@media all and (min-width:769px) and (max-width: 800px) {
    .img-right {
        float: right;border-radius: 10px;height: 200px;margin: 3px;
    }
    .img-left {
        float: left;border-radius: 10px;height: 200px; margin: 5px;
    } 
    .background-image {
        height: 450%;
    }
  }
@media all and (min-width:569px) and (max-width: 768px) {
    .img-right {
        float: right;border-radius: 10px;height: 180px;margin: 3px;
    }
    .img-left {
        float: left;border-radius: 10px;height: 180px; margin: 5px;
    } 
    .background-image {
        height: 450%;
    }
}
@media all and (min-width:481px) and (max-width: 568px) {
    .img-right {
        float: right;border-radius: 10px;height: 150px;margin: 3px;
    }
    .img-left {
        float: left;border-radius: 10px;height: 150px; margin: 5px;
    } 
    .background-image {
        height: 580%;
    }
  }
  @media all and (min-width:321px) and (max-width: 480px) {
    .img-right {
        float: right;border-radius: 10px;height: 100px;margin: 3px;
    }
    .img-left {
        float: left;border-radius: 10px;height: 100px; margin: 5px;
    } 
    .background-image {
        height: 500%;
    }
  }
  @media all and (min-width:0px) and (max-width: 320px) {
    .img-right {
        float: right;border-radius: 10px;height: 100px;margin: 3px;
    }
    .img-left {
        float: left;border-radius: 10px;height: 100px; margin: 5px;
    } 
    .background-image {
        height: 1100%;
    }
  }
  
  







